.footer {
  width: 100%;
  min-height: 80px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;

  &__nav-container {
    display: flex;
  }

  &__nav-container:last-child {
    align-items: baseline;
  }
}

@media screen and (max-width: 1106px) {
  .footer {
    min-height: 64px;
  }
}

@media screen and (max-width: 766px) {
  .footer {
    max-height: 176px;
    flex-direction: column-reverse;
    padding: 20px 0 22px;

    &__nav-container {
      justify-content: space-between;
      margin-bottom: 38px;
      height: 74px;
    }
  }
}
