.login-form {
  display: flex;
  flex-direction: column;

  & .button {
    align-self: center;
  }

  & > .error-message {
    text-align: center;
    margin-bottom: 0;
  }

  &__button-text {
    margin: 0;
    min-width: 360px;
  }
}
