.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-4xl);
  align-items: center;
  height: 100vh;
  background-color: #8ab675;
}
